.header {
    height: 28vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    text-align: left;
    animation: fadeIn 3s;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Move back by half of width and height */
}

.header-contents h2 {
    font-weight: 500;
    color: black;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: black;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 4vw 2.3vw;
    background: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header {
        height: 38vw;
    }
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}

